html, body {
    min-width: 0px !important;
}
body {
    overflow: scroll !important;
    overflow-x: hidden !important;
}
.bgtitle {
    background: url(../images/lz/bg_title.png);
    background-repeat: no-repeat;
    background-position: center -50px;
    background-size: auto auto;
    width: 100%;
    height: 250px;
}
.container-main {
    height: 100%;
}
.container-main > header {
    padding: 0px;
    width: 100%;
    max-width: 100%;
    margin: 0;
    z-index: -1;
}
.container-main > header h1 {
    padding-top: 20px;
    font-size: 34px;
    line-height: 38px;
    margin: 0 auto;
    font-weight: 700;
    color: #ffffff;
}
.og-grid li > a {
    width: 250px;
    height: 250px;
}
.og-grid li > a img {
    position: absolute;
    width: 250px;
    height: 250px;
}
.doorthumb {
    border-radius: 25px;
    -webkit-box-shadow: 0px 0px 20px 5px rgba(0,0,0,0.4); 
    box-shadow: 0px 0px 20px 5px rgba(0,0,0,0.4);
}
.today {
    border: 5px solid red !important;
}
.og-fullimg {
    border-radius: 25px;
    -webkit-box-shadow: 0px 0px 20px 5px rgba(0,0,0,0.4); 
    box-shadow: 0px 0px 20px 5px rgba(0,0,0,0.4);
}
.jitsi {
    width: 100%;
    float: left;
    height: 42.5%;
    overflow: hidden;
    position: relative;
    border-radius: 25px;
    -webkit-box-shadow: 0px 0px 20px 5px rgba(0,0,0,0.4); 
    box-shadow: 0px 0px 20px 5px rgba(0,0,0,0.4);
    background: url(../images/lz/bg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.jitsi-info {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translateX(-50%);
    font-weight: bold;
    color: #ffffff;
    background-color: #000000;
    border: 6px solid white;
    border-radius: 25px;
    -webkit-box-shadow: 0px 0px 20px 5px rgba(0,0,0,0.4);
    box-shadow: 0px 0px 20px 5px rgba(0,0,0,0.4);
    padding: 10px;
    width: 90%;
    text-align: center;
}
.og-expander {
    background: #ebf4ff;
}
.og-expander-inner {
    padding: 25px 30px;
    margin-top: 50px;
}
.og-grid li.og-expanded > a::after {
    top: 250px;
    border-bottom-color: #ebf4ff;
}
.og-details h3 {
    position: absolute;
    bottom: 0%;
    right: 5%;
    opacity: 0.5;
    color: #d8caca;
    font-weight: 300;
    font-size: 8vw;
    line-height: 8vw;
    padding: 0px 0 5px;
    margin-top: 5px;
    margin-bottom: 0px;
}
.og-details {
    background-color:rgba(0, 0, 0, 0.8);
    /* position: absolute; */
    display: none;
    padding: 30px;
    font-family: 'Indie Flower', cursive;
    display: inline-block;
    width: 100%;
    float: none;
    height: 100%;
}
.og-fullimg {
    background: url(../images/lz/lz-bg.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 100%;
    float: left;
    height: 42.5%;
    margin-bottom: 2vh;
}
.og-fullimg img {
    display: inline-block;
    max-height: 100%;
    max-width: 100%;
}
.fit {
    font-weight: 400;
    color: #d8caca;
    width: 100%;
    height: 100%;
    line-height: 1.45;
}
.og-info {
    background: url(../images/lz/question-mark-gift.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 35px 40px;
    opacity: 0.1;
    position: absolute;
    width: 35px;
    height: 40px;
    top: 20px;
    left: 20px;
    cursor: pointer;
}
.og-info:hover {
    opacity: 1;
}
.og-infoclose {
    background: url(../images/lz/youtube-btn.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 40px 40px;
    opacity: 0.5;
    position: absolute;
    width: 40px;
    height: 40px;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
}
.og-infoclose:hover {
    opacity: 1;
    -webkit-transition: opacity 0.3s linear;
       -moz-transition: opacity 0.3s linear;
            transition: opacity 0.3s linear;
}
.og-infoclose >  svg {
    /* position: absolute; */
    top: 0;
    right: 0;
    width: 40px;
    height: 40px;
    transform: rotateY(-180deg) rotateZ(-90deg);
}
.og-infoclose > svg circle {
    stroke-dasharray: 113px;
    stroke-dashoffset: 0px;
    stroke-linecap: round;
    stroke-width: 7px;
    stroke: rgb(0, 0, 0);
    fill: none;
    animation: countdown 60s linear infinite forwards;
}
  
  @keyframes countdown {
    from {
      stroke-dashoffset: 0px;
    }
    to {
      stroke-dashoffset: 113px;
    }
  }
@media screen and (max-width: 650px) {
    /* .og-expander-inner { padding: 25px 30px; } */
    .og-details { padding: 20px; }
    /* .og-details h3 { font-size: 8vw; line-height: 8vw; margin-top: 0px; } */
    .og-fullimg { display: inline; float: left; margin-left: 0%; margin-bottom: 2vh; width: 100%; height: 42.5%; }
    .jitsi { display: inline; float: left; margin-left: 0%; width: 100%; height: 42.5%; }
}
@media screen and (min-width: 800px) {
    /* .og-expander-inner { padding: 25px 30px; } */
    /* .og-details { height: 100%; padding: 10px 1vw 10px 1vw; } */
    /* .og-details h3 { font-size: 76px; line-height: 76px; } */
	.og-fullimg { display: inline; float: left; width: 48%; margin-left: 1%; margin-bottom: 0; height: 80%; }
    .jitsi { display: inline; float: left; width: 48%; margin-left: 2%; height: 80%; }
}
.inactive {
    opacity: 0.35;
    -webkit-transition: opacity 1s linear;
       -moz-transition: opacity 1s linear;
            transition: opacity 1s linear;
}
.inactivelink {
    pointer-events: none;
    cursor: default;
}
.hidden {
    visibility: hidden;
}
.crossed {
    position: absolute;
    top: 0px;
    width: 250px;
    height: 250px;
}
.linkout {
    display: none !important;
}
#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  max-height: 3000px;
}
.next {
    border: 1px solid transparent;    
    -webkit-transition: border 1s linear, box-shadow 1s linear;
       -moz-transition: border 1s linear, box-shadow 1s linear;
            transition: border 1s linear, box-shadow 1s linear;
}
.doorthumb.glow {
    -webkit-box-shadow: 0 0 15px 20px rgb(177, 20, 20);
       -moz-box-shadow: 0 0 15px 20px rgb(177, 20, 20);
            box-shadow: 0 0 15px 20px rgb(177, 20, 20);
}
#timer {
    position: absolute;
    display: inline-block;
    line-height: 1;
    font-size: 20px;
    font-weight: bold;
    width: 90px;
    bottom: 15px;
    right: 10px;
}
.vtimer {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #FFFFFF;
    opacity: 0.5;
}
#vtimer {
    position: absolute;
    bottom: 17%;
    left: 50%;
    margin: -25px 0 0 -85px;
    display: inline-block;
    line-height: 1;
    font-size: 20px;
    font-weight: bold;
    
}
#vtimer #days, #vtimer #hours, #vtimer #minutes, #vtimer #seconds, #vtimer .timersep {
    font-size: 40px;
}
#timer span, #vtimer span {
    display: block;
}
.timersep {
    float: left;
    font-size: 20px;
}
#days {
    position: absolute;
    top: -16px;
    left: -30px;
    font-size: 40px;
    color: #afafaf;
}
#hours {
    float: left;
    font-size: 20px;
    color: #000000;
}
#minutes {
    float: left;
    font-size: 20px;
    color: #000000;
}
#seconds {
    float: left;
    font-size: 20px;
    color: #000000;
}
:root {
    --label-color: #ffd2d2;
    --input-color: #ffffff;
    --active-color: #ffffff;
}
.doorjoin {
    width:100%;
    height:100%;
    display: flex;
    justify-content: center;
}
.doorjoin-inner {
    margin: 0;
    width:30%;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.form {
    width: 70%;
    height: 60px;
    position: relative;
    float: left;
    overflow: hidden;
}
.form input {
    width: 100%;
    height: 100%;
    color: var(--input-color);
    padding-top: 20px;
    border: none;
    outline: none;
    background-color: transparent;
}
.form label {
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0px;
    left: 0px;
    pointer-events: none;
    color: var(--label-color);
    border-bottom: 1px solid var(--label-color);
}
.form label::after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    bottom: -1px;
    border-bottom: 3px solid var(--active-color);
    transform: translateX(-100%);
    transition: transform 0.3s ease;
}
.content-name {
    position: absolute;
    left: 0px;
    bottom: 5px;
    transition: all 0.3s ease;
}
.form input:focus + .label-name .content-name,
.form input:valid + .label-name .content-name {
    transform: translateY(-150%);
    font-size: 14px;
    color: var(--active-color);
}
.form input:focus + .label-name::after,
.form input:valid + .label-name::after {
    transform: translateX(0%);
}
